@tailwind base;
@tailwind components;
@tailwind utilities;

.p-menubar{
  background-color: #DDDDE2;
}

.p-accordion-header-link{
  background-color: white;
}
.p-inputtextarea.p-inputtext.p-component{
  @apply border-gray-200 border-2;
}
/* .p-tabview-selected.p-highlight{
  
} */
.p-tabview-nav{
  @apply border-gray-200 border-b-2;
}

.p-unselectable-text{
  @apply border-gray-200 border-b-2;
}

.p-unselectable-text.p-tabview-selected.p-highlight > .p-tabview-nav-link{
  color: white;
  background-color: #6D1A42;
}
.p-menubar{
  background-color: #6D1A42;
}

.p-menuitem-text{
  color: #DDDDE2;
}
.p-menuitem.p-focus > .p-menuitem-content > .p-menuitem-link > .p-menuitem-text{
  color: black;
}
.p-menubar-button{
  color: #DDDDE2;
}

.p-scrollpanel-bar.p-scrollpanel-bar-y{
  background-color: #363554;
}